body{
  background-color: #dc8d57;
  font-family: "Nico Moji",
    "にくまるフォント",
    "コーポレート・ロゴ丸",
    "ロンドBスカッシュ",
    sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400&family=Varela+Round&display=swap');
    small, h4{
      font-family: 'M PLUS Rounded 1c', sans-serif;
    }

h1 {
    text-align: center;
    color: black;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 2.5em;
}

ul {
    color: #000;
}

button{
  font-family: "Nico Moji",
    "にくまるフォント",
    "コーポレート・ロゴ丸",
    "ロンドBスカッシュ",
    sans-serif;
    border-radius: 19mm;
    box-shadow: none;
    padding: 0.4rem 3rem;
}

button:hover{
  transition: background-color 0.3s ease;
}

.theme-black{
    background-color: #000;
    color: #fff;
}

.line-break {
    display: none;
  }

@media (min-width: 300px) {
  .line-break {
    display: none;
  }
}