/* Base */
body{
  background-color: #dc8d57;
  font-family: "Nico Moji",
    "にくまるフォント",
    "コーポレート・ロゴ丸",
    "ロンドBスカッシュ",
    sans-serif;
}

p {
  font-family: 'ぼくたちのゴシック', sans-serif;
}

.text-border-bottom{
   border-bottom: 2px solid #ff606e ;
}

.text-border-top{
  border-top: 2px solid #ff606e;
}

a{
  text-decoration: none;
  color: #000;
}

a:hover{
  color: black;
}


@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400&family=Varela+Round&display=swap');
    small, h4{
      font-family: 'M PLUS Rounded 1c', sans-serif;
    }
    
@font-face {
  font-family: 'ぼくたちのゴシック';
  src: url('https://cdn.leafscape.be/boku/bokutachi_web.woff2') format('woff2');
}

/* Layout */
.top-page { 
  max-height: 100dvh;
}

/* Module */
h1.title{
  text-shadow: 2px 2px 0 rgba(24, 22, 22, 0.5) ,3px 3px 0 rgba(104, 86, 86, 0.9);
  font-family: "Nico Moji",
    "にくまるフォント",
    "コーポレート・ロゴ丸",
    "ロンドBスカッシュ",
    sans-serif;
}

h1.luck-result {
  font-family: "游明朝体", YuMincho, serif;
}

.card{
  height: 96dvh;
  width: 95vw;
  margin: 0 auto;
}

button{
  font-family: "Nico Moji",
    "にくまるフォント",
    "コーポレート・ロゴ丸",
    "ロンドBスカッシュ",
    sans-serif;
    border-radius: 19mm;
    box-shadow: none;
    padding: 0.4rem 3rem;
}

button:hover{
  transition: background-color 0.3s ease;
}


.btn-fortune{
  background-color: #000;
  color: #fff;
}

.btn-fortune:hover{
  background-color: #222;
}

.btn-retry{
  background-color: #dc8d57;
  border: #dc8d57;
  color: #000;
}

.btn-retry:hover{
  background-color: #e09c6e;
}


@media (min-width: 300px) {
  .line-break {
    display: none;
  }
}